
<div class="row">
	<div class="col-md-4">
		<p>Be prepared! Your five day weather forecast.</p>
	</div>
	<form class="col-md-3" action="/" method="post">
		<div class="form-group">
			
			<label for="loc">Please Enter your zip code: </label>
			<input class="form-control" type="integer" name="loc">
		</div>
		<input class="btn btn-default" type="submit">
	</form>
</div>